h2.piece{
    text-align: center;
}
.container{
    width: 100%;
    // display: flex;
    // justify-content: center;
}
#board{
    width: 100vw;
}
.square{
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.squareClear{
    clear: left;
}
.dark{
    background: black;
    color: white;
}
.light{
    background: white;
    color: black;
}
.last{
    clear: left;
}

.selected{
    background: coral;
    color: white;
}
.potential{
    background: crimson;
    color: white;
}
.potential:hover{
    background: firebrick;
}

span.piece{
    padding: 10%;
    border-radius: 20%;
}
.white{
    background: #fff;
    border: 1px solid #000;
    color: #000;
}
.black{
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}